.Content{
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 30px;
}
.Sort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom: 10px;
}